In [47]:
import numpy as np
import pandas as pd

In [48]:
# Load the dataset
data=pd.read_csv(r"C:\Users\USER\Desktop\ICT DATASCIENCE\Sales_add.csv")

In [49]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [50]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1012.0+ bytes

In [52]:
# Separate data before and after digital marketing
sales_before = data['Sales_before_digital_add(in $)']
sales_after = data['Sales_After_digital_add(in $)']

# T-test

In [53]:
# 1. T-test to check for increase in sales after digital marketing
from scipy.stats import ttest_rel

In [54]:
# Perform a paired t-test to compare sales before and after digital marketing
t_stat, p_value = ttest_rel(sales_before,sales_after)

In [55]:
p_value

6.336667004575778e-11

In [56]:
#Null hypothesis, ho:There is no increase in sales after stepping into digital marketing.
#Alternate hypothesis, h1:There is a increase in sales after stepping into digital marketing.

if p_value<0.05:
    print('Reject null hypothesis')
else:
    print('Accept null hypothesis')

Reject null hypothesis

Conclusion: There is a increase in sales after stepping into digital marketing.

# Chi-square test

In [57]:
# 2. Chi-square test to check for dependency between Region and Manager
from scipy.stats import chi2_contingency

In [58]:
#Perform Chi-square test of independence for Region and Manager
contingency_table = pd.crosstab(data['Region'], data['Manager'])

In [59]:
chi_stat, p_value, dof, expected = chi2_contingency(contingency_table)

In [60]:
p_value

0.5493991051158094

In [61]:
#Null hypothesis, ho:There is no dependency between region and manager.
#Alternate hypothesis, h1:There is a dependency between region and manager

if p_value<0.05:
    print('Reject null hypothesis')
else:
    print('Accept null hypothesis')

Accept null hypothesis

Conclusion: There is no dependency between region and manager