In [4]:
import pandas as pd
import numpy as np

In [7]:
# Load the data
df = pd.read_csv(r"C:\Users\USER\Desktop\ICT DATASCIENCE\StudentsPerformance.csv")

In [13]:
# Display the first few rows of the DataFrame
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

# 1. Find out how many males and females participated in the test.

In [14]:
gender_counts = df['gender'].value_counts()
print("Number of males:", gender_counts['male'])
print("Number of females:", gender_counts['female'])

Number of males: 482
Number of females: 518

# 2. What do you think about the students' parental level of education?

In [16]:
parental_education_count = df['parental level of education'].value_counts()
print(parental_education_count)

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

# 3. Who scores the most on average for math, reading and writing based on

# ● Gender ● Test preparation course

In [23]:
avg_score_gender = df.groupby('gender').mean(numeric_only=True)[['math score', 'reading score', 'writing score']]
avg_score_course = df.groupby('test preparation course').mean(numeric_only=True)[['math score', 'reading score', 'writing score']]
print("\nAverage score based on Gender:")
print(avg_score_gender)

print("\nAverage score based on Course:")
print(avg_score_course)

Average score based on Gender:
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

Average score based on Course:
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

# 4.Scoring variation for math, reading and writing  based on

# ● Gender   ● Test preparation course

In [22]:
score_variation_gender = df.groupby('gender').std(numeric_only=True)[['math score', 'reading score', 'writing score']]
score_variation_course = df.groupby('test preparation course').std(numeric_only=True)[['math score', 'reading score', 'writing score']]

print("\nScoring Variation based on Gender:")
print(score_variation_gender)

print("\nScoring Variation based on Test Preparation Course:")
print(score_variation_course)

Scoring Variation based on Gender:
        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

Scoring Variation based on Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

# 5. The management needs your help to give bonus points to the top 25% of students based on their math score, so how will you help the management to achieve this.

In [26]:
top_25_percentile_math = np.percentile(df['math score'], 75)
df['bonus_points'] = np.where(df['math score'] >= top_25_percentile_math, 5, 0)
print("\nUpdated Dataset with Bonus Points:")
df.head()

Updated Dataset with Bonus Points:

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,bonus_points
0,female,group C,some high school,free/reduced,none,0,17,10,0
1,female,group B,high school,free/reduced,none,8,24,23,0
2,female,group B,some high school,free/reduced,none,18,32,28,0
3,female,group B,some college,standard,none,11,38,32,0
4,female,group C,some college,free/reduced,none,22,39,33,0